modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34071
externalPort = 3000

[[ports]]
localPort = 43119
externalPort = 3002

[[ports]]
localPort = 43775
externalPort = 3001
