modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33311
externalPort = 4200

[[ports]]
localPort = 33395
externalPort = 3001

[[ports]]
localPort = 39745
externalPort = 3000

[[ports]]
localPort = 40353
externalPort = 3002

[[ports]]
localPort = 40733
externalPort = 3003

[[ports]]
localPort = 45179
externalPort = 5000
