modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 35583
externalPort = 3002

[[ports]]
localPort = 39283
externalPort = 3000

[[ports]]
localPort = 45373
externalPort = 3001
